<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <p><input type="text" name="name" value="your name"></p>
  <p><input type="text" name="email" value="you@email.com"></p>
  <p><input type="text" name="password" value="your password"></p>
</form>
